*.pyc
docs/modules/
docs/_build/
docs/toolbox_demonstration.html
docs/.DS_Store
.idea/workspace.xml
.DS_Store
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/experiment_joint_subgradient-checkpoint.ipynb
.ipynb_checkpoints/plot_quantile_regression-checkpoint.ipynb
Untitled.ipynb
experiment_joint_subgradient.ipynb
exps/
